@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    background: #000000;
    min-height: 100vh;
    color: #fff;
}

section{
    margin: 100px 0 250px 0;
    padding: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*==home section==*/
.home{
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0 20px;
}

.home h1{
    font-size: 4.1em;
    font-weight: 600;
    margin-bottom: 60px;
}

.sample-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
}

.sample-cards .card{
    background: #ff5492;
    height: 100px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 300;
}

.color-01{
    background:#ff5492
}


/*==section 02,03,04,05==*/

.main-container{
    display: grid;
    place-items: center;
}

.main-container h2{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 90px;  
}

.main-container .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.7em;
    column-gap: 1.5em;
}

.cards .text-card{
    width: 300px;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px 15px;
    border-radius: 5px;
}

.text-card h3{
    font-size: 1.7em;
    font-weight: 600px;
    margin-bottom: 20px;
}

.text-card p{
    font-size: 1em;
    font-weight: 300;
}

@media screen and (max-width: 1010px){
    .home h1{
        font-size: 3.8em;
    }

    .main-container .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 825px){
    .home h1{
        font-size: 3em;
    }    


  .sample-cards{
     grid-template-columns: repeat(2, 1fr);
     row-gap: 1.7em;
  }
}

@media screen and (max-width: 425px){
    section{
        padding: 0 20px;
}
.home h1{
    font-size: 2.5em;
}

.sample-cards{
    grid-template-columns: repeat(1, 1fr);
}

.main-container h2{
    font-size: 2em;
}

.cards .text-card{
    width: 100%;
    height: fit-content;
    padding: 50px 15px;
}
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s ease;
    transition-property: transform, opacity;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1; 
}
